@model List<ContactoModel>
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Lista Contactos
    </div>
    <div class="card-body">
        <a asp-action="Guardar" asp-controller="Mantenedor" class="btn btn-success"><i class="bi bi-plus-circle"></i> NUEVO CONTACTO</a>
        <hr />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Nombre</td>
                        <td>@item.Telefono</td>
                        <td>@item.Email</td>
                        <td>
                            @*<a asp-action="Eliminar" asp-controller="Mantenedor" class="btn btn-danger btn-sm" asp-route-idContacto="@item.idContacto"><i class="bi bi-trash"></i></a>*@

                            <!-- Button trigger modal -->
                            <a class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="@("#EliminarContact-"+item.idContacto)" >
                                <i class="bi bi-trash"></i>
                            </a>
                            @await Html.PartialAsync("~/Views/PartialViews/_EliminarContactoPartial.cshtml",item)
                            @*data-url="@Url.Action($"Eliminar/{item.idContacto}")"*@
                            <a asp-action="Editar" asp-controller="Mantenedor" class="btn btn-primary btn-sm" asp-route-idContacto="@item.idContacto"><i class="bi bi-pencil-square"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@*<!-- Modal -->
<div class="modal fade" id="e" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>*@